<aside id="related-posts" aria-labelledby="related-label">
  <h3 class="mb-4" id="related-label">
    {{- site.data.locales[include.lang].home.frameworks -}}
  </h3>
  <nav class="row row-cols-1 row-cols-md-2 g-4 mb-4">
    {% for framework in site.data.frameworks %}
      <article class="col">
        <a href="{{ framework.url }}" target="_blank" rel="noopener noreferrer" class="framework-preview card h-100">
          <div class="card-body">
            <h4 class="pt-0 my-2">{{ framework.name }}</h4>
            <div class="text-muted">
              <p>{{ framework.description }}</p>
            </div>
            <div>
              <i class="fab fa-github fa-fw me-1"></i>
              <span>Open in GitHub</span>
            </div>
          </div>
        </a>
      </article>
    {% endfor %}
  </nav>
</aside>