<!-- Sponsor -->

{% capture sponsor_icon_path %}{{ '/assets/img/sponsor.png' | relative_url }}{% endcapture %}

<article class="card-wrapper col-12 col-lg-6">
  <a href="https://apps.apple.com/app/id6472495887" target="_blank" rel="noopener noreferrer" class="sponsor-preview card row g-0">
    <div class="card-body d-flex row">
      <div class="justify-content-between">
        <img src="{{ sponsor_icon_path }}" w="128" h="128">
      </div>
      <h2 class="card-title">Finances Pro</h1>  
      <p class="max-width-lg">Secure and private application for managing spending across multiple accounts and currencies simultaneously.</p>
    </div>
  </a>
</article>