<!-- The Top Bar -->

<header
  aria-label="Top Bar"
  id="topbar-wrapper"
>
  <div
    id="topbar"
  >
    <div id="topbar-title" class="d-flex flex-column">
      <div class="d-flex align-items-center justify-content-between">
        <div id="site-title">
          <a href="{{ '/' | relative_url }}">zharov.dev</a>
        </div>
  
        <div class="d-flex align-items-center justify-content-between">
          {% unless site.theme_mode %}
          <button type="button" class="mode-toggle btn" aria-label="Switch Mode">
            <i class="fas fa-adjust"></i>
          </button>
          {% endunless %}

          <button type="button" id="search-trigger" class="btn btn-link">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>

      <nav class="flex-column flex-grow-1 w-100">
        <ul class="nav justify-content-start">
          <!-- home -->
          <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
            <a href="{{ '/' | relative_url }}" class="nav-link">
              <span>{{ site.data.locales[include.lang].tabs.home | upcase }}</span>
            </a>
          </li>
          <!-- the real tabs -->
          {% for tab in site.tabs %}
            {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
            {% unless tab_name contains 'categories' or tab_name contains 'tags' %}
              <li class="nav-item{% if tab.url == page.url %}{{ " active" }}{% endif %}">
                <a href="{{ tab.url | relative_url }}" class="nav-link">
                  {% capture tab_name %}{{ tab.url | split: '/' }}{% endcapture %}
                  <span>{{ site.data.locales[include.lang].tabs.[tab_name] | default: tab.title | upcase }}</span>
                </a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div id="topbar-search" class="d-flex flex-row">
      <search class="align-items-center ms-lg-0">
        <i class="fas fa-search fa-fw"></i>
        <input
          class="form-control"
          id="search-input"
          type="search"
          aria-label="search"
          autocomplete="off"
          placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
        >
      </search>
      <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
        {{- site.data.locales[include.lang].search.cancel -}}
      </button>

      <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
        {{- site.data.locales[include.lang].search.cancel -}}
      </button>
    </div>
  </div>
</header>
