/*
 * The syntax light mode typography colors
 */

@mixin light-scheme {
  --red: rgb(255, 59, 48);
  --orange: rgb(255, 128, 0);
  --yellow: rgb(255, 204, 0);
  --green: rgb(52, 199, 89);
  --teal: rgb(90, 200, 250);
  --blue: rgb(0, 122, 255);
  --indigo: rgb(88, 86, 214);
  --purple: rgb(175, 82, 222);
  --pink: rgb(255, 45, 85);
  --gray: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);
  --text: rgb(0, 0, 0);
  --secondary-text: rgb(110, 110, 115);
  --tertiary-text: inherit;
  --placeholder-text: rgb(60, 60, 67);
  --link: var(--blue);
  --separator: rgb(60, 60, 67);
  --opaque-separator: rgb(198, 198, 200);
  --fill: rgb(120, 120, 128);
  --secondary-fill: rgb(120, 120, 128);
  --background: rgb(255, 236, 255);
  --secondary-background: rgb(255, 255, 255);

  @supports (color: color(display-p3 1 1 1)) {
    --red: color(display-p3 1 0.2314 0.1882);
    --orange: color(display-p3 1 0.5 0);
    --yellow: color(display-p3 1 0.8 0);
    --green: color(display-p3 0.2039 0.7804 0.349);
    --teal: color(display-p3 0.3529 0.7843 0.9804);
    --blue: color(display-p3 0 0.4784 1);
    --indigo: color(display-p3 0.3451 0.3373 0.8392);
    --purple: color(display-p3 0.6863 0.3216 0.8706);
    --pink: color(display-p3 1 0.1765 0.3333);
    --gray: color(display-p3 0.5569 0.5569 0.5765);
    --gray2: color(display-p3 0.6824 0.6824 0.698);
    --gray3: color(display-p3 0.7804 0.7804 0.8);
    --gray4: color(display-p3 0.8196 0.8196 0.8392);
    --gray5: color(display-p3 0.898 0.898 0.9176);
    --gray6: color(display-p3 0.949 0.949 0.9686);
    --text: color(display-p3 0 0 0);
    --placeholder-text: color(display-p3 0.2353 0.2353 0.2627);
    --separator: color(display-p3 0.2353 0.2353 0.2627);
    --opaque-separator: color(display-p3 0.7765 0.7765 0.7843);
    --fill: color(display-p3 0.4706 0.4706 0.502);
    --secondary-fill: color(display-p3 0.4706 0.4706 0.502);
    --background: color(display-p3 0.94902 0.94902 0.968627);
    --secondary-background: color(display-p3 1 1 1);
    --tertiary-background: color(display-p3 0.94902 0.94902 0.968627);
  }

  /* Accent */
  --sponsor: rgb(248, 124, 86);
  --sponsor-background: rgba(var(--sponsor), 0.5);

  /* Common color */
  --blockquote-border-color: #eeeeee;
  --button-bg: #ffffff;
  --btn-border-color: #e9ecef;
  --btn-backtotop-color: #686868;
  --btn-backtotop-border-color: #f1f1f1;
  --btn-box-shadow: #eaeaea;
  --checkbox-color: #c5c5c5;
  --checkbox-checked-color: #07a8f7;
  --img-bg: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(239, 239, 239) 100%
  );
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(250, 250, 250, 0) 0%,
    rgba(232, 230, 230, 1) 50%,
    rgba(250, 250, 250, 0) 100%
  );

  /* Avatar */
  --avatar-border-color: white;

  /* Topbar */
  --search-icon-color: #c2c6cc;
  --input-focus-border-color: #b8b8b8;

  /* Home page */
  --btn-patinator-text-color: #555555;
  --btn-paginator-hover-color: #c2c6cc;

  /* Posts */
  --toc-highlight: var(--link);
  --btn-share-color: gray;
  --btn-share-hover-color: #0d6efd;
  --card-hovor-bg: #e2e2e2;
  --footnote-target-bg: lightcyan;
  --tb-odd-bg: #fbfcfd;
  --tb-border-color: #eaeaea;
  --dash-color: silver;
  --kbd-wrap-color: #bdbdbd;
  --kbd-text-color: var(--text);
  --kbd-bg-color: white;
  --prompt-text-color: rgb(46, 46, 46, 0.77);
  --prompt-tip-bg: rgb(123, 247, 144, 0.2);
  --prompt-tip-icon-color: #03b303;
  --prompt-info-bg: #e1f5fe;
  --prompt-info-icon-color: #0070cb;
  --prompt-warning-bg: rgb(255, 243, 205);
  --prompt-warning-icon-color: #ef9c03;
  --prompt-danger-bg: rgb(248, 215, 218, 0.56);
  --prompt-danger-icon-color: #df3c30;

  /* Tags */
  --tag-border: --tag-border: var(--gray5);
  --tag-hover: rgb(222, 226, 230);
  --search-tag-bg: #f8f9fa;

  [class^='prompt-'] {
    --link-underline-color: rgb(219, 216, 216);
  }

  .dark {
    display: none;
  }

  /* Categories */
  --categories-hover-bg: var(--btn-border-color);
  --categories-icon-hover-color: darkslategray;

  /* Archive */
  --timeline-color: var(--fill);
}
