/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  --red: rgb(255, 69, 58);
  --orange: rgb(255, 159, 10);
  --yellow: rgb(255, 214, 10);
  --green: rgb(48, 209, 88);
  --mint: rgb(99, 230, 226);
  --teal: rgb(64, 200, 224);
  --blue: rgb(10, 132, 255);
  --indigo: rgb(94, 92, 230);
  --purple: rgb(191, 90, 242);
  --pink: rgb(255, 55, 95);

  --gray: rgb(142, 142, 147);
  --gray2: rgb(99, 99, 102);
  --gray3: rgb(72, 72, 74);
  --gray4: rgb(58, 58, 60);
  --gray5: rgb(44, 44, 46);
  --gray6: rgb(28, 28, 30);

  --text: rgb(255, 255, 255);
  --secondary-text: rgba(235, 235, 245, 0.6);
  --tertiary-text: rgba(235, 235, 245, 0.298);
  --placeholder-text: var(--tertiary-text);
  --link: var(--blue);
  --separator: rgba(84, 84, 88, 0.6);
  --opaque-separator: rgb(56, 56, 58);
  --fill: rgba(120, 120, 128, 0.36);
  --secondary-fill: rgba(120, 120, 128, 0.32);
  --tertiary-fill: rgba(118, 118, 128, 0.24);
  --background: rgb(14, 14, 15);
  --secondary-background: rgb(28, 28, 30);
  --tertiary-background: rgb(44, 44, 46);

  @supports (color: color(display-p3 1 1 1)) {
    --red: color(display-p3 1 0.4118 0.3804);
    --orange: color(display-p3 1 0.5 0);
    --yellow: color(display-p3 1 0.8314 0.149);
    --green: color(display-p3 0.1882 0.8588 0.3569);
    --teal: color(display-p3 0.4392 0.8431 1);
    --blue: color(display-p3 0.251 0.6118 1);
    --indigo: color(display-p3 0.4902 0.4784 1);
    --purple: color(display-p3 0.8549 0.5608 1);
    --pink: color(display-p3 1 0.3922 0.5098);
  }

  /* Background */
  --background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #1d1f27, var(--background));

  /* Sponsor */
  --sponsor: rgb(248, 124, 86);
  --sponsor-background: rgba(var(--sponsor), 0.5);

  /* Common color */

  --blockquote-border-color: rgb(66, 66, 66);
  --button-bg: #1e1e1e;
  --btn-border-color: #2e2f31;
  --btn-backtotop-color: var(--text);
  --btn-backtotop-border-color: #212122;
  --btn-box-shadow: var(--background);
  --card-header-bg: #292929;
  --checkbox-color: rgb(118, 120, 121);
  --checkbox-checked-color: var(--link);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Avatar */
  --avatar-border-color: var(--secondary-text);

  /* Topbar */
  --search-icon-color: rgb(100, 102, 105);
  --input-focus-border-color: rgb(112, 114, 115);

  /* Home page */
  --btn-patinator-text-color: var(--text);
  --btn-paginator-hover-color: #2e2e2e;

  /* Posts */
  --tag-hover: rgb(43, 56, 62);
  --tb-odd-bg: #252526; /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);
  --btn-share-color: #6c757d;
  --btn-share-hover-color: #bfc1ca;
  --card-hovor-bg: rgb(72, 72, 74);
  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #242424;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: var(--gray5);
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: #292828;

  /* categories */
  --categories-hover-bg: rgb(73, 75, 76);
  --categories-icon-hover-color: white;

  /* Archives */
  --timeline-color: var(--opaque-separator);

  .light {
    display: none;
  }

  hr {
    border-color: var(--opaque-separator);
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--secondary-background);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--opaque-separator);

      &:last-child {
        border-bottom-color: var(--secondary-background);
      }
    }
  }

  #archives li:nth-child(odd) {
    background: var(--secondary-background);
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */