---
layout: default
refactor: true
head_includes:
  - greeting
  - sponsor
tail_includes:
  - frameworks
---

{% include lang.html %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts_limit = 3 %}
{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% for post in pinned limit: posts_limit %}
  {% assign posts = posts | push: post %}
{% endfor %}

<!-- Get default posts -->

{% assign default_limit = posts_limit | minus: pinned.size %}

{% for post in default limit: default_limit %}
  {% assign posts = posts | push: post %}
{% endfor %}

<div id="related-posts">
  <h3 class="mb-4" id="related-label">
    {{- site.data.locales[lang].home.latest -}}
  </h3>
</div>

{% include post-list.html lang=lang %}